# Auto detect text files and perform LF normalization
* text=auto

# Ignore shader, cginc and hlsl files that came from importing TMPro
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
*.hlsl linguist-detectable=false